*{
    box-sizing: border-box !important;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: #D0EBFF;
    height: 90px;
}

.navbar-brand{
    font-weight: 500;
    font-size: 26px;
}

.navbar-brand span{
    color: #1971C2;
}

.nav-link{
    font-size: 16px;
    margin-right: 30px;
    color: #000 !important;
}

.nav-login{
    color: #fff;
}

.heading-home{
    color: #23596D;
    font-weight: 700;
    font-size: 48px;
}

.subheading-home{
    font-weight: 300;
    color: #000;
    font-size: 20px;
}

.home{
    background-color: #D0EBFF;
    padding-top: 160px;
}


.btn-home .button{
    padding: 10px 25px;
}

.btn-home a{
    background-color: #1971C2;
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-home a:hover{
    transform: translate(0, -3px);
    border-radius: 5px;
    transition: 0.3s;
}

.home-hero{
    padding-left: 60px;
    padding-bottom: 70px;
}

.section-heading{
    color: #062C30;
    font-weight: 700;
    text-align: center;
}

.subheading{
    color: #062C30;
    text-align: center;
}

.card{
    padding: 15px 15px 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
    transition: 0.3s all;
}

.psychologists .card h5{
    font-weight: 600;
    font-size: 24px;
    color: #2D3134;
    text-align: center;
}

.psychologists .card p{
    font-weight: 500;
    font-size: 16px;
    color: #2D3134;
    text-align: center;
}

/* Article */
.article{
    padding-top: 50px;
    padding-bottom: 30px;
}

.article .article-categories{ 
    margin-top: 10px;
    font-size: 14px;
    color: #413F42;
    font-weight: 500;
}

.article .article-time{ 
    margin-top: 10px;
    font-size: 10px;
    color: #606a70;
    font-weight: 500;
}

.testi{
    padding: 20px;
}

.article img{
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.article a{
    text-decoration: none;
}

.article h6{
    margin-top: -10px;
    font-size: 18px;
    color: #0F0E0E;
    font-weight: 600;
}

.see-more .btn-detail .btn-second{
    background-color: #1971C2;
    color: #F6FBF4;
    border: 2px solid #1971C2;
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.see-more .btn-detail .btn-second:hover{
    transform: translate(0, -3px);
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

/* Footer */

.footer{
    background-color: #1971C2;
    padding-top: 20px;
}
.footer .logo-footer a{
    color: #F6FBF4;
}

.footer .logo span{
    color: #E2D784;
}

.footer .info a{
    color: #F6FBF4;
    text-decoration: none;
    font-size: 16px;
}

.footer .info li{
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.footer .info h3{
    color: #F6FBF4;
    font-weight: 700;
    font-size: 18px;
}

.sosmed{
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-size: 16px;
    color: #F6FBF4;
    text-align: center;
}




.btn-detail .btn-add{
    background-color: #1971C2;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    color: #F6FBF4;
    border: 2px solid #1971C2;
    border-radius: 5px;
    font-weight: 500;
    height: 54px;
    text-decoration: none;
    transition: 0.3s all;
}

.search{
    border-radius: 10px;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    font-size: 16px;
    border: 2px solid #fff;
    transition: 0.3s all;
    height: 54px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.search:focus{
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    border: 2px solid #fff;
    transition: 0.3s all;
} 

.question-list .card{
    padding: 30px 30px 20px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
    transition: 0.3s all;
}

.question-list .card h6{
    font-size: 24px;
    font-weight: 500;
}

.question-list .card .question-description{
    font-size: 16px;
    font-weight: 300;
}

.question-list .card .question-time{
    font-size: 16px;
    font-weight: 300;
}

.question-list .card .info-forum{
    margin-top: 58px;
    font-size: 14px;
}

.add-topic-title{
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid #F5F6F8;
    background-color: #F5F6F8;
    transition: 0.3s all;
    height: 45px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.add-topic-title:focus{
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    border: 2px solid #F5F6F8;
    transition: 0.3s all;
} 

.form-label{
    font-size: 16px;
    font-weight: 400;
    color: #152C5B;
}

.form-control{
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid #F5F6F8;
    background-color: #F5F6F8;
    transition: 0.3s all;
    width: 100%;
    height: 162px;
    padding: 20px;
    border-radius: 5px;
}

.btn-send{
    width: 182px;
    height: 54px;
    background-color: #1C4755;
    color: #fff;
}


/* FAQ */
.accordion-item{
    border: 0px !important;
    margin-top: 20px;
    border-radius: 30px !important;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
}

.accordion-button{
    border-radius: 30px !important;
}

/* isi biodata */
.step{
    display: flex;
    justify-content: center;
    align-items: center;
}

.step .stepCenter h6{    
    color: #1971C2;
    font-size: 20px;
    height: 30px;
}

.circle{
    background-color: #1971C2;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    color: #F6FBF4;
    border: 2px solid #1971C2;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-decoration: none;
    transition: 0.3s all;
}

.form-check-input{
    border: 3px solid #062C30;
    height: 16px;
    width: 16px;
}

.form-check-input:after{
    background: #062C30 !important;
}


.form-check-label{
    font-size: 16px;
    font-weight: 400;
    color: #062C30;
}

.form-select{
    font-size: 16px;
    background-color: #F5F6F8;
    border-radius: 5px;
    border: 2px solid #f5f5f5;
    height: 45px;
    
}

.form-select:focus{
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    border: 2px solid #F5F6F8;
    color: #152C5B;
    transition: 0.3s all;
} 

.paidCard{
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardGender{
    background-color: #F5F6F8;
    padding: 10px;
    border-radius: 5px;
}

.cardGender:hover, .cardGender:focus{
    background-color: #062C30;
    transition: 0.3s;
}

.form-check-label:hover{
    color: #F5F6F8;
}

.titlePaketPembayaran{
    font-size: 24px;
    text-align: center;
}

.hargaPaketPembayaran{
    font-size: 16px;
    text-align: center;
}

input[type="file"]{
    background-color: #062C30;
}

.uploadBuktiPembayaran{
    border-radius: 5px;
    border: 5px solid #062C30;
    padding: 5px;
    font-size: 16px;
    color: #D0EBFF;
}